.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


#.exe
*.App.exe
.vscode/launch.json
_debug_bin
__debug_bin
.idea
.run